<div class="row center yellow">
		<h1>SWAPI</h1>
		<p class="lead">The Star Wars API</p>
</div>

<h1>Listing Films</h1>

<table>
	<thead>
		<tr>
			<th>Film Name</th>
		</tr>
	</thead>
	<tbody>
		<% @films.each do |film| %>
			<tr>
				<td><%= film["title"]></td>
			</tr>
	</tbody>
</table>